<!--
     Author: W3layouts
     Author URL: http://w3layouts.com
     License: Creative Commons Attribution 3.0 Unported
     License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE HTML>
<html>
    <head>
        <title>Lakewood Presbyterian Church (PCA) - Dallas TX Presbyterian Church in America - Reformed Theology</title>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Lakewood Presbyterian Church, PCA" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
        <script src="js/jquery.min.js"></script>
    </head>
    <body>
        <!-- header -->
	<div class="header">
	    <div class="header-top">
		<div class="container"> 
		    <div class="head-left">
			<ul class="number">
			    <li><span>Lord's Day Worship : Sunday at 11:00am</span></li>					
			</ul>
		    </div>
                    <!-- 
		    <div class="head-right">
			<ul class="number">
			    <li><a href="#">Need Prayer </a></li>|
			    <li><a href="#"> Sermons </a></li>|
			    <li><a href="#">Online Giving </a></li>|
			    <li><a href="#">Praying Groups</a></li>|
			    <li><a href="#">Worship Services</a></li>
			    <div class="clearfix"> </div>						
			</ul>
		    </div>
                    -->
		    <div class="clearfix"> </div>
		</div>
	    </div>
	    <div class="header-bottom">
		<div class="container">
		    <div class="logo">
			<a href="index.html"><img src="images/logo.png" class="img-responsive" alt="" /></a>
		    </div>
		    <div class="bottom-left">
                        <h3>Our Location</h3>
		        <p>7020 Gaston Avenue<br/>
                            Dallas Tx, 75214</p>
                        <p><span>Telephone :</span> (214) 321-2864</p>
		        <span>Email : </span><a href="mailto:arnrob@prodigy.net">Pastor Robertstad</a>
		    </div>
		    <div class="clearfix"> </div>
		</div>
	    </div>	    
	    <div class="container">
		<div class="head-na">
		    <div class="head-nav">
			<span class="menu"> </span>
			<ul class="cl-effect-15">
			    <li class="active"><a href="index.html">HOME</a></li><label>|</label>
			    <li><a href="ourchurch.html" data-hover="OUR CHURCH">OUR CHURCH</a></li><label>|</label>
			    <li><a href="denomination.html" data-hover="OUR DENOMINATION">OUR DENOMINATION</a></li><label>|</label>
                            <li><a href="qanda.html" data-hover="Q AND A">Q AND A</a></li><label>|</label>
			    <li><a href="school.html" data-hover="SCHOOL">SCHOOL</a></li><label>|</label>
			    <li><a href="contact.html" data-hover="CONTACT">CONTACT</a></li>
			    <div class="clearfix"> </div>
			</ul>
		    </div>
		    <!-- script-for-nav -->
		    <script>
		     $( "span.menu" ).click(function() {
			 $( ".head-nav ul" ).slideToggle(300, function() {
			     // Animation complete.
			 });
		     });
		    </script>
		    <!-- script-for-nav --> 
		</div>
	    </div>
	</div>
	<!-- header -->
        {% block copy %}
        {% endblock %}
	<!-- footer -->
	<div class="footer">
	    <div class="container">
		<div class="col-md-3 loc">
		    <h3>Our Location</h3>
		    <p>7020 Gaston Avenue<br/>
                        Dallas, Tx 75214</p>
		    <p><span>Telephone :</span> (214) 321-2864</p>
		    <span>Email : </span><a href="mailto:arnrob@prodigy.net">Pastor Robertstad</a>
		</div>
		<div class="col-md-3 ma">
		    <h3>Directions</h3>
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.35654563546!2d-96.73924174957537!3d32.81444378086727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ea1f0de6e45f7%3A0x729572b600689065!2s7020+Gaston+Ave%2C+Dallas%2C+TX+75214!5e1!3m2!1sen!2sus!4v1484438465648" width="200" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-md-3 or">
		    <h3>Our Church</h3>
		    <li><a href="denomination.html">• Beliefs</a></li>
		    <li><a href="ourchurch.html">• Services</a></li>
		    <li><a href="school.html">• Private School</a></li>
		</div>
		<div class="col-md-3 con">
		    <h3>Get Connected</h3>
		    <ul class="social">
			<li><a href="https://www.facebook.com/lakewood.presbyterian"><i class="fb"> </i>Facebook</a></li>
			<li><a href="#"><i class="twt"> </i>Twitter</a></li>
			<li><a href="#"><i class="yout"> </i>You Tube</a></li>
			<div class="clearfix"> </div>						
		    </ul>
		</div>
		<div class="clearfix"> </div>
	    </div>
	</div>
	<div class="footer-bottom">
	    <div class="container">
		<p>Copyrights © 2017 Lakewood Presbyterian Church All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
	    </div>
	</div>
	<!-- footer -->
    </body>
</html>
