{% extends "base.html" %}
{% block copy %}
<!-- 404 -->
<div class="main">
    <div class="container">
	<div class="error-404 text-center">
	    <h1>404</h1>
	    <p>this link dead link</p>
	    <a class="b-home" href="index.html">Back to Home</a>
	</div>
    </div>
</div>
<!-- 404 -->
{% endblock %}
