{% extends "base.html" %}
{% block copy %}
<!-- contact -->
<div class="contact">
    <div class="container">
	<h2>Contact</h2>

	<div class="contact-head text-center">
	    <p>Please feel free to visit us or contact us.</p>
	</div>		
	<!----- contact-grids ----->		
	<div class="contact-grids">
	    <div class="col-md-5">
		<h3>Address</h3>
		<div class="address">
                    <p>7020 Gaston Avenue<br/>
                        Dallas, Tx 75214</p>
		    <p><span>Telephone :</span> (214) 321-2864</p>
		    <span>Email : </span><a href="mailto:arnrob@prodigy.net">Pastor Robertstad</a>
		</div>
	    </div>
	    <div class="col-md-7">
		<div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11561.426833265552!2d-96.737048!3d32.814444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ea1f0de6e45f7%3A0x729572b600689065!2s7020+Gaston+Ave%2C+Dallas%2C+TX+75214!5e1!3m2!1sen!2sus!4v1484452898115" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	    </div>
	    <div class="clearfix"> </div>
	</div>
	<!----- contact-grids ----->
	
    </div>
</div>
<!-- contact -->		
{% endblock %}
