{% extends "base.html" %}
{% block copy %}
<!-- prayer -->
<div class="prayer">
    <div class="container">
	<h2>About Our Denomination & Beliefs</h2>

        <div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/PCA_Logo_Denom.png" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3>Our Denomination</h3>
		<h6>Presbyterian Church in America (PCA)</h6>
		<p><a href="http://www.pcanet.org/">The Presbyterian Church in America (PCA)</a> was formed to be a denomination that is "Faithful to the Scriptures, True to the Reformed Faith, and Obedient to the Great Commission."</p>
                <p>The PCA is an Evangelical and Reformed Presbyterian denomination. By Evangelical, we mean that we emphasize the gospel(good news of salvation) through faith in Jesus Christ, as well as affirming other orthodox Christian doctrines and holding to the inerrancy of Scripture.</p>

                <p><strong>By Reformed</strong>, we mean that we are connected to the teachings of the historic church and the
                    doctrinal beliefs recovered by the Reformation.  These doctrinal beliefs are expressed in the
                    <a href="http://www.reformed.org/documents/wcf_with_proofs/">Westminster Confession of Faith</a> with the <a href="http://www.reformed.org/documents/wlc_w_proofs/">Larger</a> and <a href="http://www.reformed.org/documents/wsc/index.html?_top=http://www.reformed.org/documents/WSC.html">Shorter</a> Catechisms.</p>
                <p>All officers of the
                    Presbyterian Church in America must personally subscribe to and uphold the teachings of the
                    Westminster Confession of Faith.</p>

                <p><strong>By Presbyterian</strong>, we describe our representative form of church government. Local churches
                    are governed by a "Session" of "presbyters" (elders), elected by the members of the
                    congregation. Representatives of local churches within a geographical area compose a
                    "presbytery." Representatives of presbyteries meet annually at "General Assembly."</p>
                <p>Thus,
                    through the combined efforts and resources of all of the churches, we are enabled to advance
                    God’s Kingdom much more effectively. The Committees and Agencies of the PCA help lead this
                    Kingdom work.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>

        <div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/believe.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3>What We Believe</h3>
		<h6>What we confess.</h6>
		<p><strong>We believe</strong> the Bible is the written word of God, inspired by the Holy Spirit and without error in
                    the original manuscript. The Bible is the revelation of God’s truth and is infallible and
                    authoritative in all matters of faith and practice.</p>
                
                <p><strong>We believe</strong> in the Holy Trinity. There is one God, who exists eternally in three persons: the
                    Father, the Son, and the Holy Spirit.</p>
                
                <p><strong>We believe</strong> that all are sinners and totally unable to save themselves from God’s displeasure,
                        except by His mercy.</p>

                    <p><strong>We believe</strong> that salvation is by God alone, as He sovereignly chooses those He will save. We
                        believe His choice is based on His grace, not on any human individual merit, or foreseen faith.</p>

                    <p><strong>We believe</strong> that Jesus Christ is the eternal Son of God, who through His perfect life and
                        sacrificial death atoned for the sins of all who trust in Him, alone, for salvation.</p>

                    <p><strong>We believe</strong> that God is gracious and faithful to His people not simply as individuals but as
                        families in successive generations according to His Covenant promises.</p>

                    <p><strong>We believe</strong> that the Holy Spirit indwells God’s people and gives them the strength and wisdom to
                        trust Christ and follow Him.</p>

                    <p><strong>We believe</strong> that Jesus will return, bodily and visibly, to judge all mankind and to receive His
                        people unto Himself.</p>

                    <p><strong>We believe</strong> that all aspects of our lives are to be lived to the glory of God under the Lordship of
                        Jesus.</p>
                    <p>As a confessional Presbyterian Church, you can find a fuller account of our beliefs in the <a href="http://www.reformed.org/documents/wcf_with_proofs/">Westminister Confession</a>.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>

        <div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/church-outside.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3>Our Officers</h3>
		<h6>Who's Who?</h6>
                <p><strong>Pastor:</strong> Arnie Robertstad</p>
                <p><strong>Ruling Elders:</strong> Paul Bryant, Randall Gradle, Dan Hutt, Thom Robinson</p>
                <p><strong>Deacons:</strong> Anthony Alonzo, Hunter Bryant, Eric Gilbert, Jared Gradle, Michael Rossi</p>
                <h6>Member of the <a href="ntpresby.org8">North Texas Presbytery</a></h6>
	    </div>
	    <div class="clearfix"> </div>
	</div>
        
    </div>
</div>
<!-- prayer -->
{% endblock %}
