{% extends "base.html" %}
{% block copy %}
<div class="container">
    <div class="confess-top">
	<section class="slider">
	    <div class="flexslider">
		<ul class="slides">
                    <li>
			<div class="confess">
			    <div class="col-md-7 confess-left">
                                <img src="images/worship.jpg" class="img-responsive" alt="">
			    </div>
			    <div class="col-md-5 confess-right">
				<h2>Lord's Day Worship</h2>
				<p>We gather for worship each Sunday at 12:00pm.  Our service is ordered, participatory, and seeks to express a spirit of solemn delight in our Lord.  The congregation participates in common prayers, reading of psalms in unison, confessions of faith, giving of tithes and offerings, and the singing of psalms and hymns.</p>
				<a href="ourchurch.html" class="more">View more</a>
			    </div>										
			    <div class="clearfix"> </div>
			</div>
		    </li>
		    <li>
			<div class="confess">
			    <div class="col-md-7 confess-left">
                                <img src="images/church.jpg" class="img-responsive" alt="">
			    </div>
			    <div class="col-md-5 confess-right">
				<h2>What We Believe</h2>
				<p>We believe the Bible is the written word of God, inspired by the Holy Spirit and without error in the original manuscript. The Bible is the revelation of God’s truth and is infallible and authoritative in all matters of faith and practice. We believe in the Holy Trinity.</p>
				<a href="denomination.html" class="more">View more</a>
			    </div>										
			    <div class="clearfix"> </div>
			</div>
		    </li>
		    <li>
			<div class="confess">
			    <div class="col-md-7 confess-left">
                                <img src="images/believe.jpg" class="img-responsive" alt="">
			    </div>
			    <div class="col-md-5 confess-right">
				<h2>Who We Are</h2>
				<p>The Presbyterian Church in America (PCA) was formed to be a denomination that is “Faithful to the Scriptures, True to the Reformed Faith, and Obedient to the Great Commission.” The PCA is an Evangelical and Reformed Presbyterian denomination.</p>
				<a href="denomination.html" class="more">View more</a>
			    </div>										
			    <div class="clearfix"> </div>
			</div>
		    </li>
		    <li>
			<div class="confess">
			    <div class="col-md-7 confess-left">
                                <img src="images/fellowship.jpg" class="img-responsive" alt="">
			    </div>
			    <div class="col-md-5 confess-right">
				<h2>Our Mission</h2>
				<p>To glorify God and to enjoy Him forever.  We’re working on it.</p>
				<a href="ourchurch.html" class="more">View more</a>
			    </div>										
			    <div class="clearfix"> </div>
			</div>
		    </li>
		    <div class="clearfix"> </div>
		</ul>
	    </div>
	</section>
    </div>
</div>
<!-- FlexSlider -->
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
 $(function(){
     SyntaxHighlighter.all();
 });
 $(window).load(function(){
     $('.flexslider').flexslider({
	 animation: "slide",
	 start: function(slider){
	     $('body').removeClass('loading');
	 }
     });
 });
</script>
<!-- FlexSlider -->
<!-- slider -->
<div class="rooted">
    <div class="container">
	<div class="col-md-9 roted-left">
	    <div class="grndd">
		<h3>Worship</h3>
		<p>We gather for worship each Sunday at 12:00pm.  Our service is ordered, participatory, and seeks to express a spirit of solemn delight in our Lord.  The congregation participates in common prayers, reading of psalms in unison, confessions of faith, giving of tithes and offerings, and the singing of psalms and hymns.  The latter are selected for the appropriateness of the words and music.  Elders read extended portions of Scripture that relate to the morning’s message.  The pastor preaches sermons that aim to explain the meaning of a passage of Scripture and to apply it to the lives of the people.  Usually these sermons proceed through a book of the Bible, but are occasionally selected to deal with a particular subject.  We partake of the Lord’s supper each Sunday and administer covenantal baptism whenever it is called for.</p>
		<a href="ourchurch.html#morning" class="vie">View More</a>
	    </div>
	    <div class="worsh">
		<h3>Officers</h3>
                <p><strong>Pastor:</strong> Arnie Robertstad</p>
                <p><strong>Ruling Elders:</strong> Paul Bryant, Randall Gradle, Dan Hutt, Thom Robinson</p>
                <p><strong>Deacons:</strong> Anthony Alonzo, Hunter Bryant, Eric Gilbert, Jared Gradle, Michael Rossi</p>
                <h6>Member of the <a href="ntpresby.org8">North Texas Presbytery</a></h6>
	    </div>
	</div>
	<div class="col-md-3 rooted-right">
	    <div class="wor">
		<h3>Sunday Worship Services</h3>
		<ul>
		    <li><a href="ourchurch.html">Songs of Praise • 9:30 am</a></li>
		    <li><a href="ourchurch.html#school">Sunday School • 10:00 am</a></li>
		    <li><a href="ourchurch.html#morning">Morning Worship • 11:00 am</a></li>
		    <li><a href="ourchurch.html#evening">Evening Worship • 5:30 pm</a></li>
		</ul>
                <img src="images/PCA_Logo_Small.png" alt="">
	    </div>
	</div>
	<div class="clearfix"> </div>
    </div>
</div>
{% endblock %}
