{% extends "base.html" %}
{% block copy %}
<!-- prayer -->
<div class="prayer">
    <div class="container">
	<h2>About Our Church</h2>

        <div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/teaching.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3>Our Church</h3>
		<h6>...ordered, participatory, and seeks to express a spirit of solemn delight in our Lord.</h6>
		<p>St. Paul once stood on the Areopagus and addressed the men of Athens, "I perceive that in all things you are very religious, for as I was passing through and considering the objects of your worship, I even found an altar with this transcription: 'To the Unknown God.'"</p>
                <p>To the people of Dallas an observer could similarly comment, "I perceive that in all things you are very religious, for the city is full of churches.” Ours is one of them. We’d like to tell you about it. You may become interested.  At least you will know something about one of your neighbors.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>
        
	<div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/church.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3 id="school">Sunday School & Adult Bible Class<span> 10:00am </span>to<span> 10:45am</span>;</h3>
		<h6>Teaching</h6>
		<p>Knowledge of the Bible and Christian doctrine is essential for a life of faith and obedience.  We teach our children in the Sunday School, which begins at 9:30am.  These classes cover all ages of the children.</p>
                <p>Simultaneously we teach an Adult Bible Class, which includes instruction and discussion of Biblical, theological, and life-related subjects.  On Sunday evenings, we gather again for evening worship to close the Lord's Day.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>
	<div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/worship.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3 id="morning">The Lord's Day Service of God<span> 11:00am </span>to<span> finished</span>;</h3>
		<h6>Worship</h6>
		<p>We gather for worship each Sunday at 11:00am.  Our service is ordered, participatory, and seeks to express a spirit of solemn delight in our Lord.  The congregation participates in common prayers, reading of psalms in unison, confessions of faith, giving of tithes and offerings, and the singing of psalms and hymns.  The latter are selected for the appropriateness of the words and music.  Elders read extended portions of Scripture that relate to the morning’s message.</p>
                <p>The pastor preaches sermons that aim to explain the meaning of a passage of Scripture and to apply it to the lives of the people.  Usually these sermons proceed through a book of the Bible, but are occasionally selected to deal with a particular subject.  We partake of the Lord’s supper each Sunday and administer covenantal baptism whenever it is called for.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>

	<div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/hands.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3 id="evening">Evening Worship<span> 5:30pm </span>to<span> 6:30pm</span>;</h3>
		<h6>Closing the Lord's Day</h6>
                <p>In the evening we again gather together to close the Lord's Day.  The service follows the outline of the <a href="http://www.reformed.org/documents/wcf_standards/index.html?mainframe=/documents/wcf_standards/p369-direct_pub_worship.html">Westminister Directory for Public Worship</a>.  The service generally runs on about an hour and the sermons are currently addressing topics from the <a href="http://www.reformed.org/documents/wlc_w_proofs/">Larger Catechism.</a>  Running concurrently with our evening service is a Young Children's Catechism class.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>

        <div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/fellowship.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3>Fellowship</h3>
		<h6>A new commandment I give unto you, That ye love one another; as I have loved you, that ye also love one another. John 13:34</h6>
		<p>We are an open and friendly church.  The people regularly remain thirty minutes after the worship service ends conversing with each other.  We hold a fellowship dinner right after the worship service on the last Sunday of most months.</p> 
                <p>The bonds of friendship keep the people in touch throughout the week.  We try to be helpful to each other in meeting needs as they arise and as we are able.  In becoming members of the church we realize that we are committing ourselves to God and to each other.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>

        <div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/going.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3>Our Mission</h3>
		<h6>The Future of Lakewood</h6>
		<p>To glorify God and to enjoy Him forever.  We’re working on it.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>

        <div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/denom.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3>Other Questions</h3>
		<h6>But what about....?</h6>
		<p>For more information about some commonly asked questions about our church, please see our <a href="qanda.html">Questions and Answers page</a>.</p>
	    </div>
	    <div class="clearfix"> </div>
	</div>


    </div>
</div>
<!-- prayer -->
{% endblock %}
