{% extends "base.html" %}
{% block copy %}
<!-- prayer -->
<div class="prayer">
    <div class="container">
	<h2>Questions and Answers</h2>

        <div class="prayer-top">
	    <div class="col-md-4 prayer-left">
		<img src="images/going.jpg" class="img-responsive" alt="" />
	    </div>
	    <div class="col-md-8 prayer-right">
		<h3>Q & A</h3>

                <h6>Does your church offer childcare during the services?</h6>
                <p>Yes, we offer a nursery for children under six for the Lord’s Day, 11:00, worship service, preceded by a children’s Sunday school class 10:00.  We are a very child-friendly church, welcome young children in the congregation, and have no problems with little ones making joyful (or not so joyful) noises during our worship services.</p>

                <h6>What kind of music do you have?</h6>
                <p>We sing hymns from the <a href="http://www.hymnary.org/hymnal/TH1990">PCA Trinity Hymnal</a> and metrical psalms from The Psalter of Lakewood Presbyterian Church, with piano (and sometimes violin) accompaniment.  In the evening service, we sing psalms acapella.</p>

                <h6>What kind of preaching will I hear?</h6>
                <p>You will normally hear expository preaching.  Expository preaching means that the pastor will pick a book of Scripture, and preach straight through the entire book, section by section, week by week, until we finish the entire book.</p>
                <p>This forces the pastor and congregation to engage the whole counsel of God from the whole Bible over time.  The pastor cannot just preach on his favorite topics while avoiding the “hard sayings.”  In some cases, such as a baptism or when our pastor is out of town, you may hear a topical sermon, but expository preaching is the norm.</p>

                <h6>What do you study in adult Sunday school?</h6>
                <p>In adult Sunday school, we normally either engage in expository teaching or occasionally do a topical series.  Normally we engage in expository teaching by teaching right on through the entire Bible.  In fact, years ago, we began with Genesis 1:1 and are now near the end of Proverbs (as of February, 2017).</p>
                <p>This is done in a classroom setting, where the members add their own questions and comments.  For our topical series, some example of topics we have studied are the Trinity, Reformed Spirituality, apologetics, and evangelism.</p>

                <h6>Do you have dinner after church?</h6>
                <p>Yes.  We normally have a potluck “fellowship feast” once a month on the last Sunday of most months.  If we’re having it when you visit, by all means, please stay and eat with us, even if you didn’t bring anything!  There is always plenty.</p>

                <h6>Do you believe in Biblical inerrancy?</h6>
                <p>Yes, and our preaching and teaching reflects this.  For more information, please see <a href="http://www.reformed.org/documents/wcf_with_proofs/ch_I.html">Chapter 1 of the Westminster Confession</a>.</p>

                <h6>How often do you take communion?</h6>
                <p>We take communion every week.  The only normal exception happens when our pastor is absent.</p>

                <h6>Do you have open communion?</h6>
                <p>Yes.  We affectionately invite you to receive with us the Lord’s body and blood in the bread and wine if you are a baptized Christian who has repented of your sin, confessed your faith, and if you are a member eligible to receive communion in a Church that holds to the truths of historic and evangelical Christianity as expressed in the Apostles’ and Nicene Creeds.</p>

                <h6>What translations of the Bible do you use?</h6>
                <p>Although our individuals members use all sorts of translations, from the pulpit, we stick to the King James Version or the New King James Version.  Of course, since Scripture was not composed in English, we also will consult the original languages when necessary and appropriate.</p>

                <h6>How closely do you hold to the Westminster Standards?</h6>
                <p>Closely.  We are a conservative and confessional church who’s staff have all sworn as an oath in our service of the church to uphold the plain teachings found in the Westminster Standards, <a href="http://www.reformed.org/documents/wcf_with_proofs/index.html">the Confession of Faith</a> and the <a href="http://www.reformed.org/documents/wlc_w_proofs/index.html">Longer</a> and <a href="http://www.reformed.org/documents/wsc/index.html?_top=http://www.reformed.org/documents/WSC.html">Shorter Catechisms.</a></p>
                    
                <p>Our teaching and ruling elders have taken no exceptions to the standards because we believe them to express the teaching of God in the Bible.</p>
                
                <h6>Does one have to agree with everything in the Westminster Standards to be a member of your church?</h6>
                <p>No.  Our members are not required to hold to every detail of the Standards.  However, our officers are.</p>
                <p>You can think of this as a contract between the members of the church and the elders and deacons.  The officers agree to not deviate from the Standards and the members understand that even if they don’t agree with everything contained in the Standards, that the teaching will conform to the them.</p>
                
                <h6>What are members required to believe and do?</h6>
                <p>Besides believing in the content of the Apostles’ and Nicene Creeds, new members are publicly asked the following questions from our <a href="http://www.pcaac.org/resources/bco/">Book of Order</a>:
                    <ol>
                        <li>Do you acknowledge yourself to be a sinner in the sight of God, justly deserving His displeasure, and without hope save in His sovereign mercy?</li>
                        <li>Do you believe in the Lord Jesus Christ as the Son of God, and Savior of sinners, and do you receive and rest upon Him alone for salvation as He is offered in the Gospel?</li>
                        <li>Do you now resolve and promise, in humble reliance upon the grace of the Holy Spirit, that you will endeavor to live as becomes the followers of Christ?</li>
                        <li>Do you promise to support the Church in its worship and work to the best of your ability?</li>
                        <li>Do you submit yourself to the government and discipline of the Church, and promise to study its purity and peace?</li>
                    </ol>
                </p>

                <h6>Are you Sabbatarians?</h6>
                <p>Yes, we are Sunday (Lord’s Day) Sabbatarians, in accordance to <a href="http://www.reformed.org/documents/wcf_with_proofs/ch_XXI.html">Chapter 21 of the Westminster Confession</a>.</p>

                <h6>What is your stance on....</h6>
                <p>For all other questions, we invite you to come and worship with us.  We'll make time after the service to discuss any further questions you might have.</p>
                
	    </div>
	    <div class="clearfix"> </div>
	</div>
        

    </div>
</div>
<!-- prayer -->
{% endblock %}
