{% extends "base.html" %}
{% block copy %}
<div class="container">
    <div class="single-page-artical">
	<div class="artical-content">
	    <h3>Lakewood Presbyterian School</h3>
	    <img class="img-responsive" src="images/lakewood-knight.jpg" title="The Lakewood Knights">
	    <p>Our church must be useful to Christ’s kingdom beyond our own membership.  In pursuit of this we support the work of missionaries throughout the world.  We operate a Christian school of about 130 students, most of whom are from outside the church.  This school includes grades K4 through 12th.  We enter into ministries of mercy to needy people as wisdom indicates and our means allow.  Some of our members are involved as volunteers in non-church ministries.  And we teach our people to view their vocations as service offered to God and men.</p>

                <h4>We enter into ministries of mercy to needy
                    people at our discretion and as we are able.</h4>

                <p>As members and officers of Lakewood Presbyterian Church we are painfully aware that we fall far
                short of fulfilling the calling that God has issued us in His covenant.  But we believe that God is
                graciously at work among us.  The best way to know a church is to come and see for yourself.  We
                    invite you to join us.</p>

                <h2>For more information, please visit out sister site at <a href="http://lakewoodpres.com">lakewoodpres.com</a>.</h2>
	</div>
	
    </div>

</div
{% endblock %}
